.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;

  @include respond(lg) {
    padding: 0 10px;
  }
}

img {
  max-width: 100%;
}

.sp-none {
  @include respond(sm) {
    display: none;
  }
}
