// COLORS
$color-primary: #3696c9;
$color-primary-light: #9fd1ec;
$color-primary-dark: #246b91;

$color-secondary: #e77b89;
$color-secondary-light: #dbafb5;

$color-tertiary: #ebbd93;

$color-grey-light: #e9ebef;

$color-grey-dark-1: #333;
$color-grey-dark-2: #5e5e5d;

$color-white: #fff;
$color-black: #000;

// FONT
$font-small: 12px;
$font-default: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-big: 32px;
$font-bigger: 40px;
$font-mega: 48px;
